{% load static %}
<!DOCTYPE html>

<html ng-app="LZW">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>LZW</title>

		<link rel="stylesheet" href="{% static "css/styles.css" %}" />
		<script src="{% static "node_modules/angular/angular.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/lzw_modules.js" %}" data-cover></script>

		<link rel="icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />
		<link rel="shortcut icon" href="{% static "media/icon.ico" %}" type="image/x-icon" />

	</head>
    <body>
    <div ng-controller="codeController">
		<div style="width: 100%; display: table;">
			<div style="display: table-row;">
				<div id="inCode" style="width: 50%; display: table-cell;">
					<!-- <label for="inCode">Text to encode</label> -->
					<input type="text" id="incode" name="incodeText" placeholder="Tekst do zakodowania...">
					<!-- <textarea id="incode" rows="4" cols="50" name="incodeText" placeholder="Text to encode..."></textarea> -->

				</div>
				<div id="outCode" style="display: table-cell;">
					<!-- <label for="outCode">Output</label> -->
					<input type="text" ng-model="out.val" id="outcode" name="outcodeText" placeholder="Zakodowany tekst...">
				</div>
			</div>
		</div>
		<div style="text-align: center;">
			<label class="switch">
				<input id="codingCheckBox" type="checkbox" ng-click="changeCodingType()">
				<div class="slider round">
				<span class="on">DEKODOWANIE</span><span class="off">KODODOWANIE</span>
				</div>
			</label>
		</div>
		<div>
			<input type="submit" ng-click="encode()" value="Wykonaj">
		</div>
	</div>
	<br>
    </body>
</html>
